# Python -----------------
__pycache__/
*.py[cod]
*$py.class

# Conda/Venv -------------
.venv/
venv/
env/
.env

# IDE --------------------
.vscode/
.idea/

# 數據 (Data) ------------
# 絕對不要上傳您的 data_pack！
../data_process/data_pack/
*.csv
*.npz
*.npy

# 模型 (Models) ----------
*.pt
*.pth
*.joblib

# HPO 數據庫 -------------
*.db

# 實驗結果 (Outputs) -----
*.png
*.jpg
*.jpeg